<p id="notice"><%= notice %></p>

<h1 class="page-header-h1">Monthly Planner</h1>
<h1 class="timer-button"><%= link_to 'New Event', new_event_path %></h1>

<div id='calendar' class="fc fc-ltr fc-unthemed"></div>

<div class="event-container">

	<h1 class="event-post"></h1>
	<% @events.each do |event| %>
	<div class="single-event">
		<div class="event-image">
		</div>
		<div class="event-title">
			<h1><%= event.title %></h1>
		</div>
		<div class="event-desc">
			<h3><%= event.description %></h3>
		</div>
		<div class="event-attr">
			<h4>Starts on <%= event.start_time %> | Ends on <%= event.end_time %> <p id="event-delete"><%= link_to 'View', event %> | <%= link_to 'Edit', edit_event_path(event) %> | <%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></h4>
		</div>
	</div>
	<% end %>
</div>
