<!DOCTYPE html>
<html>
<head>
  <title>Rabit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>

</head>
<body>
  <div class='wrapper'>
    <header>
      <div class="nav">
        <span id="svg"> <%= link_to image_tag( 'logo.svg' ), root_path %></span>
        <% if current_user %>
        <ul>
          <li><%= link_to "Notes", user_posts_path(current_user.id) %></li>
          <li><a href="/events">Planner</a></li>
          <li><a href="#">Study</a></li>
          <li><a href="#">Stats</a></li>
          <li><a href="#">Profile</a></li>
          <li><%= link_to "Sign out", signout_path %> </li>
          <% else %>
          <li><%= link_to "Sign In", "/auth/twitter?force_login=true" %></li>
          <li><a href="/auth/twitter">Sign In<img src="/assets/twitter_white_small.svg"></li>
            <% end %>
          </ul>
        </div>
      </header>

      <div class="content">
        <%= yield %>
      </div>

      <footer>
        <p class="copyright">Copyright &copy; 2015 Maury T. Líndo &mdash; <a href="http://cagedcrown.com/" title="CagedCrown">Caged<strong>Crown</strong>.com</a></p>
      </footer>
    </div>
    <link src="assets/js/jquery.js">
    <script>
    $('#calendar').fullCalendar();
    </script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
  </html>

  <!-- <test>

  <header>
  <div class="nav">
  <ul>
  <li><a href="#">Home</a></li>
  <li><a href="#">Movies</a></li>
  <li><a href="#">Favorites</a></li>
  <li><a href="#">Sign Out</a></li>
</ul>
</div>
</header>

</test> -->
